{% extends "base.html" %}

{% block content %}
<h1>Dashboard DOCA</h1>

<div class="filtro-container">

    <h3>Buscar por Intervalo de Datas</h3>

    <input type="date" id="dataInicio">
    <span>até</span>
    <input type="date" id="dataFim">

    <button onclick="aplicarFiltro()">Buscar</button>

</div>


</div>

<div class="cards">

    <div class="card-metric">
        <h3>Total Units Fechadas</h3>
        <p id="totalUnits">0</p>
    </div>

    <div class="card-metric">
        <h3>Notas Fechadas</h3>
        <p id="totalNotasFechadas">0</p>
    </div>

    <div class="card-metric">
        <h3>Notas Pendentes</h3>
        <p id="totalNotasPendentes">0</p>
    </div>

</div>
<div class="graficos-grid">

    <div class="grafico-card">
        <h4>Unidades Recebidas por Dia</h4>
        <canvas id="graficoUnidadesDia"></canvas>
    </div>

    <div class="grafico-card">
        <h4>Notas Recebidas por Dia</h4>
        <canvas id="graficoNotasDia"></canvas>
    </div>

</div>

<div class="grafico-card" style="margin-top:40px;">
    <h4>Performance por Login</h4>
    <canvas id="graficoPorLogin"></canvas>
</div>


<canvas id="graficoAA"></canvas>
<canvas id="graficoHistorico"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}
